.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-bg-color);

  &-list {
    display: flex;

    &-item {
      background: #ffffff;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
    }

    &-item:not(:last-child) {
      margin-right: 30px;
    }
  }

  &-card {
    padding: 30px;
  }

  &-title {
    margin-bottom: 10px;

    @include font($fw: 500, $fs: 16px, $lh: 1.187);
    // font-weight: 500;
    // font-size: 16px;
    // line-height: 1.187;
    // letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-color);
  }

  &-description {
    margin-bottom: 16px;

    @include font($fs: 16px, $lh: 1.187);
    // font-weight: 400;
    // font-size: 16px;
    // line-height: 1.187;
    // letter-spacing: 0.03em;
    text-align: center;
  }
}
