.our-clients {
  padding-top: 60px;
  padding-bottom: 60px;

  &-list {
    display: flex;
    flex-wrap: wrap;

    margin: -15px;
  }

  &-item {
    margin: 15px;
    height: 90px;
    width: calc((100% - 4 * 15px) / 2);
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 1px solid var(--icon-color);
    border-radius: 4px;

    transition: border-color var(--animation);

    &:focus,
    &:hover {
      border-color: var(--accent-color);
      outline: none;
    }
  }
  &-icon {
    fill: var(--icon-color);

    transition: fill var(--animation);

    .our-clients-link:hover &,
    .our-clients-link:focus & {
      fill: var(--accent-color);
    }
  }
}

@media screen and (min-width: 768px) {
  .our-clients-item {
    width: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .our-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .our-clients-item {
    width: calc((100% - 12 * 15px) / 6);
  }
}

// .our-clients {
//   padding-top: 94px;
//   padding-bottom: 94px;

//   &-list {
//     display: flex;
//     justify-content: space-between;
//   }

//   &-link {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 170px;
//     height: 90px;
//     border: 1px solid var(--icon-color);
//     border-radius: 4px;

//     transition: border-color var(--animation);

//     &:focus,
//     &:hover {
//       border-color: var(--accent-color);
//       outline: none;
//     }
//   }

//   &-icon {
//     fill: var(--icon-color);

//     transition: fill var(--animation);

//     .our-clients-link:hover &,
//     .our-clients-link:focus & {
//       fill: var(--accent-color);
//     }
//   }
// }
