.our-work {
  padding-top: 94px;
  padding-bottom: 94px;

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-wrapper {
      position: relative;
    }
  }

  &-description {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 20px;
    padding-right: 20px;

    @include font($fw: 700, $lh: 1.143);
    // font-weight: 700;
    // font-size: 14px;
    // line-height: 1.143;
    // letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;

    color: var(--second-color);
    background-color: rgba(47, 48, 58, 0.8);
  }
}
