.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);

  background-color: var(--second-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    background: var(--second-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
  }

  &-close-btn-svg {
    width: 18px;
    height: 18px;
    fill: var(--title-color);
    transition: fill var(--animation);

    .modal-close-btn:focus &,
    .modal-close-btn:hover & {
      fill: var(--accent-color);
    }
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
