.social-list {
  display: flex;
  justify-content: space-between;

  &-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    transition: background-color var(--animation);

    &:focus,
    &:hover {
      background-color: var(--accent-color);
      outline: none;
    }
  }

  &-icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);

    transition: fill var(--animation);

    .social-list-link:focus &,
    .social-list-link:hover & {
      fill: var(--second-color);
    }
  }
}
