.title {
  margin-bottom: 30px;

  @include font($fw: 700, $fs: 28px, $lh: 1.178);
  // font-weight: 700;
  // font-size: 28px;
  // line-height: 1.178;
  // letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;

    @include font($fw: 700, $fs: 36px, $lh: 1.167);
  }
}

// .title {
//   margin-bottom: 50px;

//   @include font($fw: 700, $fs: 36px, $lh: 1.167);
//   // font-weight: 700;
//   // font-size: 36px;
//   // line-height: 1.167;
//   // letter-spacing: 0.03em;
//   text-align: center;
//   color: var(--title-color);
// }
